{% include 'partials/_breadcrumb.html.twig' with {'path': ['Accueil','Crédit','Charge-off'] } %}
{% include 'partials/_flash.html.twig' %}

<h1>Écriture de charge</h1>

<section class="MfCard">
    <header>Confirmer la charge</header>
    <form method="post" action="">
        <div class="MfFormRow">
            <label>Motif</label>
            <input class="MfInput" name="reason" type="text" />
        </div>
        <button class="MfButton" type="submit">Confirmer</button>
    </form>
    </section>
