{% include 'partials/_breadcrumb.html.twig' with {'path': ['Accueil','Crédit','Contrat'] } %}
{% include 'partials/_flash.html.twig' %}

<h1>Contrat Crédit</h1>

<section class="MfCard">
    <header>Aperçu du contrat</header>
    <div class="MfDocumentViewer">
        <p>Contrat généré pour le crédit. Signature électronique prévue.</p>
    </div>
    <button class="MfButton">Signer</button>
    </section>
