{% include 'partials/_breadcrumb.html.twig' with {'path': ['Accueil','Crédit','Décaissement'] } %}
{% include 'partials/_flash.html.twig' %}

<h1>Décaissement Crédit</h1>

<section class="MfCard">
    <header>Formulaire de décaissement</header>
    <form method="post" action="">
        <div class="MfFormRow">
            <label>Compte</label>
            <input class="MfInput" name="account" type="text" />
        </div>
        <div class="MfFormRow">
            <label>Montant</label>
            <input class="MfMoneyInput" name="amount" type="text" />
        </div>
        <button class="MfButton" type="submit">Confirmer</button>
    </form>
    </section>
