{% extends 'backoffice.html.twig' %}

{% block content %}
  {% include 'backoffice/partials/_breadcrumb.html.twig' with {'path': ['Accueil','Validations/Conformité','Approuver']} %}
  <div class="MfCard">
    <h2>Confirmation d’approbation</h2>
    <p>Voulez-vous vraiment approuver cette validation ?</p>
    <form method="post" action="/validations/{{ id }}/approve">
      <button class="MfButton MfButton--primary" type="submit">Confirmer</button>
    </form>
  </div>
{% endblock %}
