{% extends 'backoffice.html.twig' %}

{% block content %}
  {% include 'backoffice/partials/_breadcrumb.html.twig' with {'path': ['Accueil','Validations/Conformité','Forcées']} %}
  <div class="MfCard">
    <h2>Validations forcées</h2>
    <div class="MfDataTable">
      <table>
        <thead><tr><th>ID</th><th>Raison</th><th>Date</th></tr></thead>
        <tbody>
          {% for r in data.data %}
          <tr><td>{{ r.id ?? '' }}</td><td>{{ r.reason ?? '' }}</td><td>{{ r.date|date('d/m/Y') ?? '' }}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
