{% extends 'backoffice.html.twig' %}

{% block content %}
  {% include 'backoffice/partials/_breadcrumb.html.twig' with {'path': ['Accueil','Validations/Conformité','Règles']} %}
  <div class="MfCard">
    <h2>Règles de validation</h2>
    <div class="MfDataTable">
      <table>
        <thead><tr><th>Règle</th><th>Paramètres</th></tr></thead>
        <tbody>
          {% for r in data.data %}
          <tr><td>{{ r.name ?? '' }}</td><td>{{ r.params ?? '' }}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
