{% extends 'backoffice.html.twig' %}

{% block content %}
  {% include 'partials/_breadcrumb.html.twig' with {'path': 'Accueil > Clients > Archiver'} %}
  {% include 'partials/_flash.html.twig' %}

  <MfCard>
    <MfFormCard>
      <h3>Archiver le client</h3>
      <form method="post" action="/clients/{{ id ?? 0 }}/archive">
        <MfInput name="reason" label="Raison" />
        <MfButton label="Archiver" type="primary" />
      </form>
    </MfFormCard>
  </MfCard>
{% endblock %}
