{% extends 'backoffice.html.twig' %}

{% block content %}
  {% include 'partials/_breadcrumb.html.twig' with {'path': 'Accueil > Clients > Contacts'} %}
  {% include 'partials/_flash.html.twig' %}

  <MfCard>
    <h3>Contacts</h3>
    <MfDataTable headers="Nom,Role" rows="{{ contacts|length ? contacts|json_encode : '[]' }}" />
  </MfCard>
{% endblock %}
