{% extends 'backoffice.html.twig' %}

{% block content %}
  {% include 'partials/_breadcrumb.html.twig' with {'path': 'Accueil > Clients > KYC'} %}
  {% include 'partials/_flash.html.twig' %}

  <MfCard>
    <h3>KYC - Niveau et vérifications</h3>
    <MfDataTable headers="Checklist,Statut" rows="{{ kyc|default([])|length ? kyc|json_encode : '[]' }}" />
  </MfCard>
{% endblock %}
