{% extends 'backoffice.html.twig' %}

{% block content %}
  {% include 'partials/_breadcrumb.html.twig' with {'path': 'Accueil > Clients > Mandataires'} %}
  {% include 'partials/_flash.html.twig' %}

  <MfCard>
    <h3>Mandataires</h3>
    <MfDataTable headers="Nom,Rôle" rows="{{ mandataires|length ? mandataires|json_encode : '[]' }}" />
  </MfCard>
{% endblock %}
