{% extends 'backoffice.html.twig' %}

{% block content %}
  {% include 'partials/_breadcrumb.html.twig' with {'path': 'Accueil > Clients > Statistiques'} %}
  {% include 'partials/_flash.html.twig' %}

  <MfCard>
    <h3>Tableau de bord des clients</h3>
    <MfStatsGrid data="{{ stats|default({})|json_encode }}" />
  </MfCard>
{% endblock %}
