{% extends 'backoffice.html.twig' %}

{% block content %}
  {% include 'partials/_breadcrumb.html.twig' with {'path': 'Accueil > Clients > Suspend'} %}
  {% include 'partials/_flash.html.twig' %}

  <MfCard>
    <MfFormCard>
      <h3>Suspendre le client</h3>
      <form method="post" action="/clients/{{ id ?? 0 }}/suspend">
        <MfSelect name="raison" label="Raison" />
        <MfInput name="commentaire" label="Commentaire" />
        <MfButton label="Soumettre" type="primary" />
      </form>
    </MfFormCard>
  </MfCard>
{% endblock %}
