<div class="flex items-start py-3 {{ class|default('') }} {{ border|default(true) ? 'border-b border-gray-100' : '' }}">
    <dt class="w-1/3 text-sm font-medium text-on-surface-variant">{{ label }}</dt>
    <dd class="w-2/3 text-sm text-on-surface">{{ value|default('-') }}</dd>
</div>
