{% extends 'backoffice.html.twig' %}
{% block title %}Comptes par agence{% endblock %}
{% block content %}
  {% include 'partials/_breadcrumb.html.twig' with {'items': ['Accueil','Comptes','Agence']} %}
  {% include 'partials/_flash.html.twig' %}
  <div class="MfCard">
    <div class="MfDataTable">
      {% if data is iterable and data.data|length > 0 %}
        <table class="table">
          <thead><tr><th>Agence</th><th>Numéro</th><th>Titulaire</th><th>Solde</th></tr></thead>
          <tbody>
            {% for c in data.data %}
              <tr>
                <td>{{ c.agence ?? '' }}</td>
                <td>{{ c.num ?? c.numero ?? '' }}</td>
                <td>{{ c.titulaire ?? '' }}</td>
                <td>{{ c.solde ?? 0 }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        {% include 'partials/_empty_state.html.twig' with {'message': 'Aucun compte pour cette agence'} %}
      {% endif %}
    </div>
  </div>
{% endblock %}
