{% extends 'backoffice.html.twig' %}
{% block title %}Bloquer le compte {{ num }}{% endblock %}
{% block content %}
  {% include 'partials/_breadcrumb.html.twig' with {'items': ['Accueil','Comptes','Blocage'] } %}
  {% include 'partials/_flash.html.twig' %}
  <div class="MfCard">
    <div class="MfFormCard">
      <h3>Bloquer le compte</h3>
      <form method="post">
        <div class="field">
          <label>Raison</label>
          <textarea name="reason" class="mf-input"></textarea>
        </div>
        <button class="MfButton" type="submit">Bloquer</button>
      </form>
    </div>
  </div>
{% endblock %}
