{% extends 'backoffice.html.twig' %}
{% block title %}Comptes en attente{% endblock %}
{% block content %}
  {% include 'partials/_breadcrumb.html.twig' with {'items': ['Accueil','Comptes','En attente']} %}
  {% include 'partials/_flash.html.twig' %}
  <div class="MfCard">
    <div class="MfDataTable">
      {% if data is iterable and data|length > 0 %}
        <table class="table">
          <thead><tr><th>Numéro</th><th>Titulaire</th><th>Date</th></tr></thead>
          <tbody>
            {% for c in data %}
              <tr>
                <td>{{ c.num ?? c.numero ?? '' }}</td>
                <td>{{ c.titulaire ?? '' }}</td>
                <td>{{ c.date_ouverture ?? '' }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        {% include 'partials/_empty_state.html.twig' with {'message': 'Aucun compte en attente'} %}
      {% endif %}
    </div>
  </div>
{% endblock %}
