{% extends 'backoffice.html.twig' %}

{% block content %}
  {% include 'backoffice/partials/_breadcrumb.html.twig' with {'path': ['Accueil','Conformité','BIC']} %}
  <div class="MfCard">
    <h2>Registre BIC</h2>
    <div class="MfDataTable">
      <table>
        <thead><tr><th>BIC</th><th>Nom</th></tr></thead>
        <tbody>
          {% for r in data.data %}
          <tr><td>{{ r.bic ?? '' }}</td><td>{{ r.name ?? '' }}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
