{% extends 'backoffice.html.twig' %}

{% block content %}
  {% include 'backoffice/partials/_breadcrumb.html.twig' with {'path': ['Accueil','Validations/Conformité','Tableau de bord']} %}
  <div class="MfCard MfStatsGrid">
    <h2>Panneau de conformité</h2>
    <div class="MfStatsGrid__content">
      {% for stat in data.data or [] %}
      <div class="MfStatsGrid__item">{{ stat.label ?? '' }}: {{ stat.value ?? '' }}</div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
