{% extends 'backoffice.html.twig' %}

{% block content %}
  {% include 'backoffice/partials/_breadcrumb.html.twig' with {'path': ['Accueil','Conformité','Contrôle interne']} %}
  <div class="MfCard">
    <h2>Contrôle interne</h2>
    <div class="MfDataTable">
      <table>
        <thead><tr><th>Processus</th><th>État</th></tr></thead>
        <tbody>
          {% for r in data.data %}
          <tr><td>{{ r.process ?? '' }}</td><td>{{ r.status ?? '' }}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
