{% extends 'backoffice.html.twig' %}

{% block content %}
  {% include 'backoffice/partials/_breadcrumb.html.twig' with {'path': ['Accueil','Conformité','Incidents de paiement']} %}
  <div class="MfCard">
    <h2>Incidents de paiement</h2>
    <div class="MfDataTable">
      <table>
        <thead><tr><th>Date</th><th>Description</th></tr></thead>
        <tbody>
          {% for r in data.data %}
          <tr><td>{{ r.date|date('d/m/Y') }}</td><td>{{ r.description ?? '' }}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
