{% extends 'backoffice.html.twig' %}

{% block content %}
  {% include 'backoffice/partials/_breadcrumb.html.twig' with {'path': ['Accueil','Conformité','Rapports SAR']} %}
  <div class="MfCard">
    <h2>Rapports SAR</h2>
    <div class="MfDataTable">
      <table>
        <thead><tr><th>Titre</th><th>Date</th></tr></thead>
        <tbody>
          {% for r in data.data %}
          <tr><td>{{ r.title ?? '' }}</td><td>{{ r.date|date('d/m/Y') }}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
