{% extends 'backoffice.html.twig' %}

{% block content %}
  {% include 'backoffice/partials/_breadcrumb.html.twig' with {'path': ['Accueil','Conformité','Carte des risques']} %}
  <div class="MfCard">
    <h2>Cartographie des risques</h2>
    <div class="MfTimeline">Aperçu interactif des risques</div>
  </div>
{% endblock %}
