{% extends 'backoffice.html.twig' %}

{% block content %}
  {% include 'backoffice/partials/_breadcrumb.html.twig' with {'path': ['Accueil','Conformité','Tax'] } %}
  <div class="MfCard">
    <h2>Gestion fiscale et conformité</h2>
    <div class="MfDataTable">
      <table>
        <thead><tr><th>Imposition</th><th>Montant</th></tr></thead>
        <tbody>
          {% for r in data.data %}
          <tr><td>{{ r.taxName ?? '' }}</td><td>{{ r.amount ?? '' }}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
